.main__heading {
  line-height: 2rem;
  font-size: 2rem;
}

.main__content {
  font-size: 1rem;
  overflow: hidden;
}

.main__link {
  color: white;
}

.main__link:hover {
  color: limegreen;
}

.main__pfp-wrapper {
  overflow: hidden;
  width: 100%;
}

.main__pfp {
  width: 100%;
  transform: translateY(-70%) translateX(-10%) scale(3.5);
}
