.opening-screen__wrapper {
  padding: 20px;
}

.box {
  padding-left: 5px;
}

.opening-screen__box {
  font-size: 2.0rem;
  position: absolute;
  height: 100%;
  width: 33.333%;
  background: white;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.opening-screen__box2 {
  font-size: 2.0rem;
  position: absolute;
  height: 100%;
  width: 33.333%;
  background: white;
  bottom: 0;
  left: 33.33%;
  right: 0;
  overflow: hidden;
}
.opening-screen__box3 {
  font-size: 2.0rem;
  position: absolute;
  height: 100%;
  width: 33.333%;
  background: white;
  bottom: 0;
  left: 66.66%;
  right: 0;
  overflow: hidden;
}
.opening-screen__first {
  font-size: 2.0rem;
  line-height: 1.8rem;
  z-index: 10;
  color: white;
  mix-blend-mode: difference;
  height: 40px;
  position: relative;
  overflow: hidden;
  top: 20vh;
}
/* add media queries */
.opening-screen__first span {
  position: absolute;
  left: 15%;
}

.opening-screen__middle {
  font-size: 2.0rem;
  line-height: 1.8rem;
  z-index: 10;
  color: white;
  mix-blend-mode: difference;
  height: 40px;
  position: relative;
  overflow: hidden;
  top: 25vh;
}

.opening-screen__middle span {
  position: absolute;
  left: 45%;
}

.opening-screen__last {
  font-size: 2.0rem;
  line-height: 1.8rem;
  z-index: 10;
  color: white;
  mix-blend-mode: difference;
  height: 40px;
  position: relative;
  overflow: hidden;
  top: 30vh;
}

.opening-screen__last span {
  position: absolute;
  left: 40%;
}

.opening-screen__web {
  font-size: 1.5rem;
  line-height: 0.2rem;
  z-index: 10;
  color: white;
  mix-blend-mode: difference;
  height: 20px;
  position: relative;
  overflow: hidden;
  top: 30vh;
}

.opening-screen__web span {
  position: absolute;
  left: 25%;
}

.break {
  margin-top: 50px; 
}